html
  head
    title uquiz Web Client
    link(rel="stylesheet" href="main.css")

  body
    #headContainer
      #controlContainer
        .openControl.control
          img(src="icon/open.svg" alt="Open File")
          .controlText Open

    #contentContainer
      #welcomeArea
        .backIcon
          img(src="icon/open.svg" alt="Open")

        .welcomeText Welcome to uquiz web client!
        .welcomeText Open a new quiz to start playing!
