body {
  background: #eeeeee;
  padding: 0;
  margin: 0;

  font-family: "Roboto Mono", monospace;
}
h1 {
  color: #ccc;
}
#headContainer {
  display: flex;
  width: 100vw;
  background: #424242;
  color: #fff;

  align-items: center;
  height: 48px;

  box-shadow: 0px 0px 10px #000;
}
#controlContainer {
  margin-left: auto;
}
.control {
  background: #212121;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  padding: 0 20px;

  color: #fff;
  text-decoration: none;

  transition: all 0.2s ease;
}
.control:hover,
.control:focus {
  background: rgba(0, 0, 0, 0.25);
}
.control:active {
  background: rgba(0, 0, 0, 0.75);
}
.controlText {
  margin-left: 10px;
}
#contentContainer {
  display: flex;
  margin: 0;
  width: 100vw;
  height: calc(100vh - 48px);
  position: absolute;
  left: 0;
}
#welcomeArea {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}
.backIcon img {
  width: 40vw;
  max-width: 200px;
  filter: invert(0.2);
}
.welcomeText {
  color: #777;
}
#headTextContainer {
  display: flex;
  flex-direction: row;

  width: 100%;
}
.headSubText {
  width: 150px;
  height: 100%;

  display: flex;
  min-width: 120px;

  justify-content: center;
  align-items: center;
}
.headText {
  background: #000;
  height: 100%;
  width: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 25px;
  color: #aaa;
}
